<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新经资讯后台管理</title>
    <link rel="stylesheet" type="text/css" href="../../static/admin/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/admin/css/main.css">
    <link rel="stylesheet" type="text/css" href='../../static/admin/css/jquery.pagination.css'>
    <script type="text/javascript" src="../../static/admin/js/jquery-1.12.4.min.js"></script>
    <script src="../../static/admin/js/jquery.pagination.min.js"></script>

</head>
<body>
<div class="breadcrub">
    当前位置：用户管理>增加管理员
</div>
<div class="pannel">
    <table class="common_table">


    </table>
</div>
<div id="pagination">

</div>
</body>
<script>
    {#获取分类信息#}
    getCatelist(1)

    function getCatelist(p) {
        $.ajax({
            url: '/suser/aaaList',
            type: 'get',
            data: {'p': p},
            dataType: 'json',
            success: function (res) {
                if (res.code == 200) {
                    var mes = res.userlist
                    var length = mes.length
                    var html = "<tr><td colspan=\"3\"><a href=\"/suser/addaaa\" ' +\n" +
                        "                        'class=\"addtype\">增加管理员</a></td></tr><tr><th width=\"10%\">id</th>' +\n" +
                        "                        '<th width=\"70%\">管理员名称</th><th width=\"20%\">管理操作</th></tr>"
                    for (var i = 0; i < length; i++) {
                        html += '<tr><td width="10%">' + mes[i]['id'] + '</td><td width="70%">  '+mes[i]['username']+' </td><td width="20%"><a href="/suser/addaaa?id=' + mes[i]['id'] + '">修改</a><a href="/suser/delete_aaa?id=' + mes[i]['id'] + '">删除</a></td></tr>'
                    }
                    $('.common_table').html(html)
                    page(res.currentpage, res.totalpage)
                }
            }
        })
    }

    function page(currentpage, totalpage) {
        $("#pagination").pagination({
            currentPage: currentpage,
            totalPage: totalpage,
            callback: function (current) {
                getCatelist(current)

            }
        })
    }

</script>
</html>